/* Define custom variables */
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.nav-toggle {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* about section */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.leThinker {
    height: 37.5rem;
    width: 37.5rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* skills section */
#skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-container img {
    padding: 1.25rem;
    border-radius: 6px;
}

.icon-card {
    width: 11.875rem;
    height: 11.25rem;
}

/* projects section */
#projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-img {
    width: 95%;
    height: 80%;
}

.project-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.Web-dev {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.Web-dev p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

/* contact section */

#contact {
    justify-items: center;
    text-align: center;
    display: flow;
}

#contact a img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

/* Scroll to top button */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-icon {
    width: 4rem;
    height: 4rem;
}

/* footer section */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* general settings */
.skill-icon {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .nav-toggle {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    #about {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    #about img {
        height: 37.5rem;
        width: 30rem;
    }

    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

    .icon-card {
        width: 5.875rem;
        height: 5.25rem;
    }

    .project-container {
        flex-direction: column;
    }

    .project-item {
        width: 20.875rem;
    }
}

@media screen and (max-width: 420px) {
    #about img {
        height: 37.5rem;
        width: 23rem;
    }

    .bio {
        width: 18.3rem;
    }

    .Web-dev {
        width: 17.875rem;
    }

    .IOS-dev {
        width: 17.875rem;
    }
}